<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, shrink-to-fit=no">
    <title>VTT Flattener</title>
    <link rel="stylesheet" href="../styles/compiled.css">
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../script/renderer.js"></script>
  </head>
  <body class="w-screen h-screen bg-black">
    <div class="w-full h-full bg-gray-500 flex justify-center">
      <div class="self-center border border-white bg-black bg-opacity-25 p-8 rounded text-white flex flex-col text-center ">
        <div class="text-2xl m-2 justify-center">
          VTT Flattener
        </div>
        <div id="input" class="bg-white rounded border boirder-white text-black m-2 bg-opacity-50 hover:bg-opacity-75">
          Select input
        </div>
        <div id="output" class="bg-white rounded border boirder-white text-black m-2 bg-opacity-50 hover:bg-opacity-75">
          Select output
        </div>
        <div id="go" class="bg-white rounded border boirder-white text-black m-2 bg-opacity-50 hover:bg-opacity-75">
          Go
        </div>
        <div class="text-sm m-2 justify-center">
          Ryan Buxton 2021
        </div>
      </div>
    </div>
  </body>
</html>
